# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
4venv/
ENV/

# Data
*.csv
data/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

# Ignore model files
models/
*.rds
*.RData
*.rda
*.pkl
*.joblib

# Ignore submission files
submissions/
*.csv



